@font-face {
  font-family: "Archangelsk";
  src: url("../fonts/Archangelsk.woff2") format("woff2"), url("../fonts/Archangelsk.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-regular.woff2") format("woff2"), url("../fonts/roboto-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-light.woff2") format("woff2"), url("../fonts/roboto-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-bold.woff2") format("woff2"), url("../fonts/roboto-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  line-height: normal;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
}
@media (max-width: 400px) {
  body {
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    font-style: normal;
  }
}

main,
footer {
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 66.66%;
  margin: 0 auto;
  padding: 0;
}
@media (max-width: 1250px) {
  .container {
    width: 93.33%;
  }
}
@media (max-width: 400px) {
  .container {
    width: 92.5%;
  }
}

.header {
  position: absolute;
  width: 100%;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}
@media (max-width: 400px) {
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
  font-style: normal;
  padding: 19px 50px;
  color: #F8F200;
  background: #000000;
  border: none;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}
@media (max-width: 400px) {
  .button {
    font-size: 20px;
    line-height: 40px;
    font-weight: 400;
    font-style: normal;
  }
}

.social__item {
  margin: 0 0 0 40px;
}
@media (max-width: 400px) {
  .social__item {
    margin: 10px 0 0 28px;
  }
}

.hero {
  background-image: url("../img/hero/hero-1920x1000.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 400px) {
  .hero__container {
    width: 100%;
  }
}
.hero__wrp {
  background-color: #F8F200;
  max-width: 624px;
  padding: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-clip-path: polygon(10% 0%, 100% 0%, 100% 83%, 90% 100%, 0 100%, 0 17%);
          clip-path: polygon(10% 0%, 100% 0%, 100% 83%, 90% 100%, 0 100%, 0 17%);
}
@media (max-width: 400px) {
  .hero__wrp {
    padding: 30px 12px;
    text-align: center;
  }
}
.hero__title {
  font-family: "Archangelsk", sans-serif;
  font-size: 62px;
  line-height: 63px;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 25px;
}
@media (max-width: 400px) {
  .hero__title {
    font-size: 30px;
    line-height: 31px;
    font-weight: 400;
    font-style: normal;
  }
}

.about {
  padding: 70px 0;
}
.about__title {
  font-family: "Archangelsk", sans-serif;
  font-size: 62px;
  line-height: 63px;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 25px;
}
@media (max-width: 1250px) {
  .about__title {
    max-width: 620px;
  }
}
@media (max-width: 400px) {
  .about__title {
    font-size: 30px;
    line-height: 31px;
    font-weight: 400;
    font-style: normal;
  }
}
.about__text {
  margin: 0 0 70px;
  max-width: 952px;
  color: #777;
}
@media (max-width: 1250px) {
  .about__text {
    max-width: 780px;
  }
}
.about__text--lselected-text {
  color: #52BEDC;
}
.about__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1250px) {
  .about__images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.about__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 35.93%;
}
@media (max-width: 1250px) {
  .about__wrp {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 0 32px 0;
    width: 100%;
  }
}
.about__image {
  width: 61.56%;
}
@media (max-width: 1250px) {
  .about__image {
    width: 100%;
  }
}

.event {
  background-color: #000000;
  color: #FFF;
  position: relative;
  padding: 70px 0;
}
.event::before {
  content: "";
  background-image: url(../img/event/border-top.png);
  position: absolute;
  top: 0;
  width: 100%;
  height: 70px;
}
.event::after {
  content: "";
  background-image: url(../img/event/border-bottom.png);
  position: absolute;
  width: 100%;
  height: 70px;
}
@media (max-width: 1250px) {
  .event__container {
    background-image: url(../img/event/consoles-tablet.png);
    background-position: right;
    background-repeat: no-repeat;
  }
}
.event__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 15px 0 25px;
}
@media (max-width: 1250px) {
  .event__wrp {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.event__wrp--form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1250px) {
  .event__wrp--form {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.event__title {
  font-family: "Archangelsk", sans-serif;
  font-size: 62px;
  line-height: 63px;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 10px 32px;
}
@media (max-width: 1250px) {
  .event__title {
    margin: 15px 0 25px 0;
    max-width: 460px;
  }
}
@media (max-width: 400px) {
  .event__title {
    font-size: 30px;
    line-height: 31px;
    font-weight: 400;
    font-style: normal;
  }
}
.event__text {
  max-width: 952px;
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 1250px) {
  .event__text {
    max-width: 460px;
  }
}
.event__text--lselected-text {
  color: #52BEDC;
}
.event__form {
  width: 35.93%;
  margin: 0 32px 0 0;
}
@media (max-width: 1250px) {
  .event__form {
    max-width: 460px;
  }
}
.event__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 35px 0;
  text-align: center;
  padding: 40px 20.78% 40px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 300;
  font-style: normal;
  color: #777;
  border: 1px dashed;
}
@media (max-width: 1250px) {
  .event__label {
    padding: 50px 130px;
  }
}
.event__label--format {
  margin: 0;
  padding: 0;
  border: none;
  text-align: center;
}
@media (max-width: 1250px) {
  .event__label--format {
    display: none;
  }
}
.event__input {
  font-size: 18px;
  line-height: 21px;
  font-weight: 300;
  font-style: normal;
  display: block;
  width: 100%;
  border: none;
  background-color: transparent;
  padding: 11px 11px 11px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #777;
  border-bottom: 1px solid #777;
  margin: 0 0 26px 0;
}
.event__input--file {
  display: none;
}
.event__button {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  font-style: normal;
  padding: 15px 50px;
  margin: 0 0 15px 0;
  background: #F8F200;
  border: none;
  cursor: pointer;
  outline: none;
  display: block;
}
.event__agree {
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  font-style: normal;
  color: #777;
}
.event__img {
  width: 61.56%;
}
@media (max-width: 1250px) {
  .event__img {
    display: none;
  }
}

.hp {
  background-color: #F8F200;
}
.hp__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 70px 10px 80px;
}
.hp__wrp-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px 0 0;
}
@media (max-width: 1250px) {
  .hp__wrp-img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
}
.hp__monitor {
  width: 100%;
}
@media (max-width: 1250px) {
  .hp__monitor {
    max-width: 460px;
  }
}
.hp__wrp-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 26px 0 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
@media (max-width: 1250px) {
  .hp__wrp-logo {
    height: 230px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.hp__info {
  max-width: 624px;
  padding: 0 0 0 10px;
}
.hp__title {
  font-family: "Archangelsk", sans-serif;
  font-size: 62px;
  line-height: 63px;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 400px) {
  .hp__title {
    font-size: 30px;
    line-height: 31px;
    font-weight: 400;
    font-style: normal;
  }
}
.hp__text {
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 25px 0;
}
.hp__item {
  margin: 0 0 16px 0;
  padding: 6px 6px 6px 42px;
}
.hp__item:first-child {
  background-image: url(../img/hp/icon-item-1.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.hp__item:nth-child(2) {
  background-image: url(../img/hp/icon-item-2.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.hp__item:last-child {
  background-image: url(../img/hp/icon-item-3.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.hp__buttom {
  margin: 40px 0 0;
  display: inline-block;
}

.buy {
  background-color: #000000;
  color: #FFF;
  position: relative;
}
.buy::before {
  content: "";
  background-image: url(../img/buy/Untitled.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 47%;
}
@media (max-width: 1250px) {
  .buy::before {
    width: 33%;
  }
}
.buy__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.buy__content {
  width: 50%;
  padding: 70px 0 70px 35px;
}
@media (max-width: 1250px) {
  .buy__content {
    width: 65%;
  }
}
.buy__title {
  font-family: "Archangelsk", sans-serif;
  font-size: 62px;
  line-height: 63px;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 25px 0;
}
@media (max-width: 400px) {
  .buy__title {
    font-size: 30px;
    line-height: 31px;
    font-weight: 400;
    font-style: normal;
  }
}
.buy__text {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  font-style: normal;
  color: #52BEDC;
  margin: 0 0 25px 0;
}
.buy__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 319px;
  height: 133px;
}

.kit__item {
  margin: 0 0 16px 0;
  padding: 6px 6px 6px 42px;
}
.kit__item:first-child {
  background-image: url(../img/buy/icon-item-1.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.kit__item:nth-child(2) {
  background-image: url(../img/buy/icon-item-2.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.kit__item:last-child {
  background-image: url(../img/buy/icon-item-3.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 0 70px 0;
}

.logos__item {
  margin: 10px;
}

.footer__container {
  padding: 13px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
.footer__rules {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
.footer__link {
  text-decoration: none;
  color: #000000;
}
.footer__copyright {
  padding: 13px 10px;
  background-color: #000000;
  color: #FFF;
  text-align: center;
}/*# sourceMappingURL=style.css.map */