$black: #000000;
$white: #FFF;
$yellow: #F8F200;
$lselected-text: #52BEDC;
$text: #777;

$desktop-width: 1599px;
$tablet-mid-width: 1350px;
$tablet-width: 767px;
$mobile-tablet-mid-width: 573px;
$mobile-mid-width: 450px;
$mobile-width: 375px;