.about {
    padding: 70px 0;

    &__title {
        font-family: 'Archangelsk', sans-serif;
        @include font(62px, 63px);
        margin: 0 0 25px;
    }

    &__text {
        margin: 0 0 70px;
        max-width: 952px;
        color: $text;

        &--lselected-text {
            color: $lselected-text;
        }
    }

    &__images {
        display: flex;
        justify-content: space-between;
    }

    &__wrp {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}