.header {
    position: absolute;
    width: 100%;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;

        @include mobile {
            flex-direction: column;
        }
    }

    &__list {
        display: flex;
    }
}