.hero {
    background-image: url('../img/hero/hero-1920x1000.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;

    &__container {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    &__wrp {
        background-color: $yellow;
        max-width: 624px;
        padding: 70px;
        box-sizing: border-box;
        clip-path: polygon(10% 0%, 100% 0%, 100% 83%, 90% 100%, 0 100%, 0 17%);
    }

    &__title {
        font-family: 'Archangelsk', sans-serif;
        @include font(62px, 63px);
        margin: 0 0 25px;
    }
}